{% extends "base.html" %}

{%block content %}

{% if details %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script type="text/javascript">
     google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);
      var A1={{ details.vote_1 }}
      var B1={{ details.vote_2 }}
      var C1={{ details.vote_3 }}
      var D1={{ details.vote_4 }}

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['A', A1],
          ['B', B1],
          ['C', C1],
          ['D', D1]
          
        ]);

        // Set chart options
        var options = {'title':"Public's polls",
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('graph'));
        chart.draw(data, options);
      }
      
       
    </script>
    <script >
        $(document).ready(function() {
            $('#form1').ajaxForm(function() {
              $('input').hide();
            });
          });
</script>

<div class="col-md-9">
<pre>
{{ details.question  }}
</pre>
<form role="form" action="{% url 'submit_form' details.id %}" method="POST" id="form1">
    {% csrf_token %}<!-- 
    <div class="form-group"> -->
  
      <table class="table ">
    <tbody>
      <tr>
        <td> <label>A</label>&nbsp;&nbsp;<input type="radio" value="1" name="optradio">&nbsp;&nbsp;<label>{{ details.option1 }}</label>
    </td>
        <td> <label>B</label>&nbsp;&nbsp;<input type="radio" value="2" name="optradio">&nbsp;&nbsp;<label>{{ details.option2 }}</label>
    </td>
       </tr>
      <tr>
        <td> <label>C</label>&nbsp;&nbsp;<input type="radio" value="3" name="optradio" />&nbsp;&nbsp;<label>{{ details.option3 }}</label>
    </td>
        <td> <label>D</label>&nbsp;&nbsp;<input type="radio"  value="4" name="optradio"/>&nbsp;&nbsp;<label>{{ details.option4 }}</label>
    </td>
       </tr>
      </tbody>
  </table>
     
<input type="submit" value="Vote"  class="btn btn-default btn-sm" /> 
      
      </form>
</div>

{% endif %}  
<div class="col-md-8" id="graph"></div>

 
{% endblock %}