{% extends "base.html" %}

{%block content %}

{% if details %}
<style >
.borderless td {
    border: none;
}
</style>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script type="text/javascript">
     google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);
      var A1={{ details.vote_1 }}
      var B1={{ details.vote_2 }}
      var C1={{ details.vote_3 }}
      var D1={{ details.vote_4 }}

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['A', A1],
          ['B', B1],
          ['C', C1],
          ['D', D1]
          
        ]);

        // Set chart options
        var options = {'title':"Public's polls",
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('graph'));
        chart.draw(data, options);
      }
      
       
    </script>
    <script >
        $(document).ready(function() {
          $('#comment').hide()
            $('#form1').ajaxForm(function() {
              $('#p1').hide();
              $('#p2').hide();
              $('#p3').hide();
              $('#p4').hide();
              $('#p5').hide();
             
              $('#comment').slideDown();
            });
          });
</script>

<div class="col-md-8">
<pre>
{{ details.question  }}
</pre>
<form role="form" action="{% url 'submit_form' details.id %}" method="POST" id="form1">
    {% csrf_token %}<!-- 
    <div class="form-group"> -->
  
      <table class="table borderless">
    <tbody>
      <tr>
        <td> <label>A</label>&nbsp;&nbsp;<input type="radio" value="1" name="choice" id="p1" onclick="radioclick(this.value)" >&nbsp;&nbsp;<label>{{ details.option1 }}</label>
    </td>
        <td> <label>B</label>&nbsp;&nbsp;<input type="radio" value="2" name="choice" id="p2" onclick="radioclick(this.value)" >&nbsp;&nbsp;<label>{{ details.option2 }}</label>
    </td>
       </tr>
      <tr>
        <td> <label>C</label>&nbsp;&nbsp;<input type="radio" value="3" name="choice" id="p3" onclick="radioclick(this.value)" />&nbsp;&nbsp;<label>{{ details.option3 }}</label>
    </td>
        <td> <label>D</label>&nbsp;&nbsp;<input type="radio"  value="4" name="choice" id="p4" onclick="radioclick(this.value)" />&nbsp;&nbsp;<label>{{ details.option4 }}</label>
    </td>
       </tr>
      </tbody>
  </table>
     
<input type="submit" value="Vote"  class="btn btn-primary btn-sm" id="p5" /> 
</form>


<script >
$(document).ready(function() {
            $('#form2').ajaxForm(function() {
              $('#comment').slideUp("slow");
                });
          });
function hidep()
{
  $('#comment').slideUp("slow");
              
}
function radioclick(val)
{
  document.getElementById("result").value=val;
}
</script>

<div id="comment">
<form role="form" action="{% url 'reason_opt' details.id %}" method="POST" id="form2" >
  {% csrf_token %}
    <div class="form-group">
      <label for="comment">Comment:</label>
      <input type="hidden"  id="result" name="ans" />
      <textarea class="form-control" rows="3" id="comments" name="test" placeholder="Do you want to tell te reason" ></textarea>
    <input type="submit"   class="btn btn-primary" Value="Post a Comment" />
    <button type="button" class="btn btn-default" onclick="hidep()">No Thanks</button>
  
     </div>
</form>
</div>

<div class="col-md-8" id="graph"></div>
</div>
<div class="col-md-4" id="sidebar">
  <span id="signinButton">
  <span
    class="g-signin"
    data-callback="signinCallback"
    data-clientid="620242897744-g1vdjvkh4o8j3t8odp30oukv1vh7g9tm.apps.googleusercontent.com"
    data-cookiepolicy="single_host_origin"
    data-requestvisibleactions="http://schema.org/AddAction"
    data-scope="https://www.googleapis.com/auth/plus.login">
  </span>
</span>
<br>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"  >Add a Question</button>
<!-- Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add a Question</h4>
      </div>
<div class="modal-body">
<!-- form for Adding a question-->
<form role="form" action="submit_question" method="POST" id="addQuestion"  >
  {% csrf_token %}
    <label for="sel1">Select a Category</label>
      <select class="form-control" id="sel1" name="Category">
        <option>Entertainment</option>
        <option>Sports</option>
        <option>Food</option>
        <option>Party</option>
        <option>Technology</option>
        <option>Miscellaneous</option>
      </select>
    <div class="form-group">
    <label >Question</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="question" placeholder="Type your Question here..." />
    </div>
  <div class="form-group">
    <label for="exampleInputFile">A</label>
    <input type="text" name="opA" placeholder="Option A" />
    
  </div>

  <div class="form-group">
    <label for="exampleInputFile">B</label>
    <input type="text" name="opB" placeholder="Option B" />
    
  </div>
  <div class="form-group">
    <label for="exampleInputFile">C</label>
    <input type="text" name="opC" placeholder="Option C" />
    
  </div>
  <div class="form-group">
    <label for="exampleInputFile">D</label>
    <input type="text" name="opD" placeholder="Option D" />
    
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
      </div>
      </div>
  </div>
</div>

<!-- Modal ends -->




   <h4>Similar Pollings</h4>
   <ul>
   {% if related %}
   {% for r in related %}
   <li><a href="{% url 'detail' r.id %}" >{{ r }}</a></li>
   {% endfor %}
   {% endif %}
 </ul>
<div>
{% endif %}
{% endblock %}

{% block comment %} 
<div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="nav nav-pills">
            <li class="active" >
              <a href="#results" id="opt1">A</a>
            </li>
            <li>
              <a href="#results" id="opt2">B</a>
            </li>
            <li>
              <a href="#results" id="opt3">C</a>
            </li>
             <li>
              <a href="#results" id="opt4">D</a>
            </li>
          </ul>
        </div>
      </div>
</div>

<br>
<br>
  <div align="center">
<span id="spinner"><img src="{{ STATIC_URL }}spinner.gif" align="middle" /></span>
</div>

  <div id="results">

  <div>
<script>
function signinCallback(authResult) {
  if (authResult['status']['signed_in']) {
    // Update the app to reflect a signed in user
    // Hide the sign-in button now that the user is authorized, for example:
    document.getElementById('signinButton').setAttribute('style', 'display: none');
  } else {
    // Update the app to reflect a signed out user
    // Possible error values:
    //   "user_signed_out" - User is signed-out
    //   "access_denied" - User denied access to your app
    //   "immediate_failed" - Could not automatically log in the user
    console.log('Sign-in state: ' + authResult['error']);
  }
}
$(document).ready(function()
{
  $('#spinner').hide();
  /* clicking A */
$('#opt1').click(function()
{
$('#results').html( '&nbsp;').load('{% url 'get_comments_A' details.id %}');
});
 /* Clicking B */
 $('#opt2').click(function()
{
$('#results').html( '&nbsp;').load('{% url 'get_comments_B' details.id %}');
});

$('#opt3').click(function()
{
$('#results').html( '&nbsp;').load('{% url 'get_comments_C' details.id %}');
});

$('#opt4').click(function()
{
$('#results').html( '&nbsp;').load('{% url 'get_comments_D' details.id %}');
});

$(document).ajaxStart(function()
{
  $('#spinner').show();
}).ajaxStop(function()
{
  $('#spinner').hide();
})
});
</script>


 
{% endblock %}
