
{% extends "base.html" %}
{%block content %}


{% if ques %}
{% for q in ques %}
<h2>
{{ q.question  }}
</h2>



<button class="trigger"><a href="{% url 'detail' q.id %}">See Public's Opinion</a></button>

<div class="toggle_container">
<div class="block">
 <form  action="/create_post/" method="POST" id="post-form">
{% csrf_token %}
<table style="width:100%">
  <tr>
<td><label>A:</label><input type="radio" name="choice"  value="1" /><label>{{ details.option1 }}</label></td>
<td><label>B:</label><input type="radio" name="choice"  value="2" /><label>{{ details.option2}}</label></td>
</tr>
<tr>
<td><label>C:</label><input type="radio" name="choice"  value="3" /><label>{{ details.option3 }}</label></td>
<td><label>D:</label><input type="radio" name="choice"  value="4" /><label>{{ details.option4 }}</label></td>
</tr>
<input type="hidden" name="reason" id="hreason"/>
<tr>
  
</tr>
</table>
 </div>
</div>

{% endfor %}
{% endif %}      
{% endblock %}

<!-- Sidebar -->


