
{% extends "base.html" %}
{%block content %}


{% if ques %}
{% for q in ques %}
<h2>
{{ q.question  }}
</h2>



<button class="trigger"><a href="{% url 'detail' q.id %}">See Public's Opinion</a></button>

<div class="toggle_container">
<div class="block">
 <form  action="/create_post/" method="POST" id="post-form">
{% csrf_token %}
<input type="radio" name="A" id=choice value="1" /><label>{{ q.option1 }}</label><br>
<input type="radio" name="B" id=choice value="2" /><label>{{ q.option2}}</label><br>
<input type="radio" name="C" id=choice value="3" /><label>{{ q.option3 }}</label><br>
<input type="radio" name="D" id=choice value="4" /><label>{{ q.option4 }}</label><br>
</form>      
<div id="{{ q.id }}"></div>
    </div>
</div>

{% endfor %}
{% endif %}      
{% endblock %}

<!-- Sidebar -->


