<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}
<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="{% static jquery-1.11.2.js %}"></script>
 
<title>Your Polls</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="{% static 'urpoll/style.css' %}" />
</head>
<body>
<div id="fb-root"></div>
<script>
  
  

  //-- FB Login Scripts -->
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    
    if (response.status === 'connected') {
      testAPI();
    } else if (response.status === 'not_authorized') {
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  //--fb login script ends -->
  //-- Check FB LOgin -->
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }
  //-- fb login check ends -->
  //-- APP credentials -->
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1580592518848163',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  //-- App credentials end -->
  //--Checking script -->
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
  <!-- Checking scripts ends -->

</script>
<div id="header">
  <h1><a href="{% url 'index'  %}">Your Poll</a></h1>
</div>
<!--
<div id="topnav">
  <ul id="topnavlist">
    <li><a class="active" href="#">Home</a></li>
    <li><a href="#">Transaction History</a></li>
    <li><a class="active" href="#">Transfer Funds</a></li>

  </ul>
</div>
-->
<div id="gutter"></div>

<!-- Menu Bar -->
<div id="col1">
  <h2>Recent Posts</h2>
  <div id="navcontainer">
    <ul >
      {% if category  %}
      {% for c in category %}
          <li><a href="{% url 'cat' c.id %}" >{{ c.Name }}</a></li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>
  
</div>


<!-- Main Content -->

<div id="col2">
{% block content %}
{% endblock %}
</div>

<!-- Sidebar -->

<div id="col3">
  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

  <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
</div>
<div id="footer"> </div>
</body>
</html>

